* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue',sans-serif;
}

html,body{
  height: 100%;
  width: 100%;
}
.parent{
   display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  background-color: bisque;
  width: 400px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin:20px;
  text-align: center;
}
.card img {
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 10px;

}
.card p{
  margin: 10px;
}
.card button{
  margin: 10px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px ;
}